@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Biała 1 <br />
    Gdańsk, 80-460<br />
    <abbr title="Phone">P:</abbr>
    +48 600 503 990
</address>

<address>
    <strong>Kontakt:</strong>   <a href="mailto:Kontakt@example.com">Kontakt@example.com</a><br />
</address>